<section class="search-user">
    <h1><br>G-SEARCH</h1>
    <p> <b> G-Search allows you to search for github users
            and repositories that the user has worked on over time </b> </p>
    <form class="user-form" id="form" (ngSubmit)="onSubmit()" #form='ngForm'>
    <input type="text" id="search" name="name" placeholder="Search for a GitHub User" ngModel required #username="ngModel">
        <button type="submit" class="btn btn-primary" (click)="onSearch(username)">search</button>
    </form>
</section>


<section class="repo">
 <img src="{{mydata.avatar_url}}" alt="img" class="avatar">
       <div class="user-info">
           <h2>user name:{{mydata.name}}</h2>
           <strong>Name</strong> {{mydata.login}}
           <p>company:{{mydata.company}}</p>
           {{ mydata.followers}} <strong>Followers</strong>
           {{mydata.following}} <strong>Following</strong>
           {{mydata.public_repos}} <strong>Repos</strong>
            <strong>Location</strong>{{mydata.location}}
            <strong>Updated at</strong>{{mydata.updated_at  | date}}
       </div>   
    <hr>


            <!-- ng build --base-href "https://trevin-livele.github.io/ng-github-search/" -->
            <!-- npx angular-cli-ghpages --dir=dist/ng-github-search -->

    <div class="row">
        <div class="col-md-5">
    
        <div *ngFor="let repo of myrepos;">
            <div class="des">
                 {{repo.name}} 
        </div>
        <div class="col-md-7">
    <p>{{repo.description}}</p>
    {{repo.view_repo}}
    </div>
    <br>             
    </div>
        </div>
    </div>
</section>

        












